/*! GLOBAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
:root {
  --floralwhite: #fcf8f3;
  --lightblue: #aedadd;
  --darksalmon: #db996c;
  --lightslategray: #6e7da2;
  --red: #d72626;
  --green: #99c817;
  --gradient: linear-gradient(165deg, #6e7da2, #8badc2, #aedadd);
  --radialGradient: radial-gradient(
    circle at 50% 50%,
    #95a2c4,
    #818fb4,
    #6e7da2
  );
}

body {
  background-color: var(--darksalmon);
  opacity: 0.9;
  background-image: radial-gradient(
    var(--lightslategray) 2px,
    var(--darksalmon) 2px
  );
  background-size: 40px 40px;
}

.global-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (min-width: 992px) {
  .global-container {
    width: 80vw;
    height: 90vh;
    margin: 5vh auto;
  }
}

.BG-whitish {
  background-color: var(--floralwhite);
}

.BG-gradient {
  background: var(--gradient);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

h1 {
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*! HELPERS */

.hidden {
  visibility: hidden;
}

/*! ANIMATIONS */

@keyframes translateY {
  from {
  }
  to {
    transform: translateY(25%);
  }
}

/*! BUTTONS */

.btn {
  padding: 1rem;
  margin: 0 1vw;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.btn-33 {
  width: 20vw;
}

.btn-50 {
  width: 30vw;
}

.btn-100 {
  width: 40vw;
}

.btn-white {
  border: 1px solid var(--lightslategray);
  background-color: var(--floralwhite);
}

.btn-orange {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--darksalmon);
}

.btn-navy {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--lightslategray);
}

.btn-red {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--red);
}

.btn-green {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--green);
}

/*! HEADER */

.header {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--lightslategray);
  color: var(--floralwhite);
}

.header-text {
  text-align: center;
  color: var(--floralwhite);
  margin: 100%;
}

/*! NAVIGATION */

.navigation {
  height: 50px;
  background-color: var(--lightslategray);
  display: flex;
}

.nav-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  border-bottom: 2px solid var(--lightslategray);
  cursor: pointer;
}

.active path,
.nav-tile:hover path {
  fill: var(--lightblue);
}

ul > .active,
ul > .nav-tile:hover {
  border-bottom: 0px;
  border-bottom: 2px solid var(--lightblue);
}

/*! MAIN */

.main-content {
  height: 100%;
  margin: 2.5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: auto;
}

/*! MAIN HOME*/

.workout-parameters-container {
  display: flex;
  flex-direction: column;
}

.workout-parameters-text {
  text-align: center;

  color: var(--floralwhite);
}

.workout-parameters {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.start-container {
  height: 33%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-cloud {
  background-image: url(src/START.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 2 /1;
  height: 40%;
  animation: translateY 2s cubic-bezier(0.29, 0.6, 0.54, 0.89) infinite
    alternate;
  cursor: pointer;
}

.start-button {
  background-image: url(src/Button\ start\ 3d.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 /1;
  height: 60%;
  cursor: pointer;
}

/*! MAIN WORKOUT*/

.workout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-text {
  text-align: center;
}

.meter-container {
}

.workout-card-container {
  color: var(--floralwhite);
  background: var(--radialGradient);
  width: 100%;
  height: 40vh;
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.exercise-YT-container {
  display: flex;
  justify-content: center;
}

.exercise-name-text {
  text-align: center;
}

.muscle-text {
  text-align: center;
}
.set-text {
  text-align: center;
}

.reps-weight-container {
  display: flex;
  justify-content: center;
}

.reps-container {
  display: flex;
  flex-direction: column;
}

.weight-container {
  display: flex;
  flex-direction: column;
}

.red-green-btn-container {
  display: flex;
}
