/*! GLOBAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
:root {
  --floralwhite: #fcf8f3;
  --lightblue: #aedadd;
  --darksalmon: #db996c;
  --lightslategray: #6e7da2;
  --red: #d72626bb;
  --green: #99c817bb;
  --transparent: rgba(0, 0, 0, 0.5);
  --gradient: linear-gradient(165deg, #6e7da2, #8badc2, #aedadd);
  --radialGradient: radial-gradient(
    circle at 50% 50%,
    #95a2c4,
    #818fb4,
    #6e7da2
  );
  --barWidth: 10%;
}

body {
  background-image: radial-gradient(
    var(--floralwhite) 2px,
    var(--darksalmon) 2px
  );
  background-size: 40px 40px;
}

.global-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (min-width: 992px) {
  .global-container {
    width: 50vw;
    height: 90vh;
    margin: 5vh auto;
  }
}

.BG-whitish {
  background-color: var(--floralwhite);
}

.BG-gradient {
  background: var(--gradient);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*! HELPERS */

.hidden {
  visibility: hidden;
}

/*! ANIMATIONS */

@keyframes translateY {
  from {
  }
  to {
    transform: translateY(25%);
  }
}

@keyframes rotate {
  from {
  }
  to {
    transform: rotate(360deg);
}}

/*! BUTTONS */

.btn {
  min-height: 48px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.btn:focus {
  outline: none;
  border: 2px solid var(--lightslategray);
}

.btn:active {
  outline: none;
  border: 2px solid var(--lightslategray);
}

.btn-33 {
  width: 100%;
  margin: 0 1vw;
}

.btn-50 {
  width: 45%;
  margin: 0.5vh 0.5% 0 0.5%;
}

.btn-100 {
  width: 91%;
  margin-top: 2.5vh;
}

.btn-white {
  color: var(--lightslategray);
  border: 1px solid var(--lightslategray);
  background-color: var(--floralwhite);
}

.btn-orange {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--darksalmon);
}

.btn-navy {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--lightslategray);
}

.btn-red {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--red);
  opacity: var(--transparent);
}

.btn-green {
  color: var(--floralwhite);
  border: 1px solid var(--floralwhite);
  background-color: var(--green);
}

/*! HEADER */

.header {
  height: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  background-color: var(--lightslategray);
  color: var(--floralwhite);
}

.header-buttons {
  grid-column: 1 /2;
  justify-self: start;
  align-self: start;
  display: flex;
  padding-left: 2rem;

  margin-top: 11.5px;
}

.back-button {
  background-image: url(./src/abadonTraining.svg);
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 /1;
  height: 1.8rem;
  cursor: pointer;
}

.tutorial-button {
  background-image: url(./src/help_FILL0_wght400_GRAD0_opsz48.svg);
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 /1;
  cursor: pointer;
  height: 1.8rem;
  margin-left: 1rem;
}

.header-text {
  grid-column: 2/3;
  justify-self: center;
  color: var(--floralwhite);
  vertical-align: center;
}

/*! NAVIGATION */

.navigation {
  height: 50px;
  background-color: var(--lightslategray);
  display: flex;
}

.nav-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  border-bottom: 2px solid var(--lightslategray);
  cursor: pointer;
}

.active path,
.nav-tile:hover path {
  fill: var(--lightblue);
}

ul > .active,
ul > .nav-tile:hover {
  border-bottom: 0px;
  border-bottom: 2px solid var(--lightblue);
}

/*! MAIN */

.main-content {
  height: 100%;
  margin: 2.5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: auto;
}

/*! MAIN HOME*/

.workout-parameters-container {
  display: flex;
  flex-direction: column;
}

.workout-parameters-container li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.workout-parameters-text {
  text-align: center;

  color: var(--floralwhite);
}

.workout-parameters {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}

.start-container {
  height: 33%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-cloud {
  background-image: url(src/START.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 2 /1;
  height: 40%;
  animation: translateY 2s cubic-bezier(0.47, 1.19, 1, 0.43) infinite alternate;
  cursor: pointer;
}

.start-button {
  background-image: url(src/Button\ start\ 3d.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1 /1;
  height: 60%;
  cursor: pointer;
}

/*! MAIN WORKOUT*/

.workout-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.progress-bar {
  width: 75%;
  height: 32px;
  border: 2px solid var(--lightslategray);
  border-radius: 10px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.progress-bar::before {
  content: "";
  display: flex;
  align-items: center;
  color: var(--floralwhite);
  background: var(--gradient);
  border-radius: 7px;
  height: 1rem;
  width: var(--barWidth);
  padding: 3px;
  padding-left: 1rem;
}

.workout-card-container {
  color: var(--floralwhite);
  background: var(--radialGradient);
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2.5vh;
  border-radius: 5px;
  padding: 5vh 0;
  overflow: auto;
}

.exercise-YT-container {
  display: flex;
  justify-content: center;
}

.exercise-name-text {
  width: 100%;
  margin-bottom: 1vh;
  text-align: center;
}

.instruct-svg-container {
  background-image: url(./src/info.svg);
  aspect-ratio: 1 /1;
  height: 32px;
  border-radius: 100%;
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.muscle-text {
  margin-bottom: 0.5vh;
  text-align: center;
  color: var(--transparent);
}
.set-text {
  margin-bottom: 2.5vh;
  text-align: center;
}

.reps-weight-container {
  display: flex;
  width: 250px;
  justify-content: center;
  margin: 2vh 0;
}

.reps-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  align-items: center;
}

.weight-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid var(--transparent);
}

.reps-weight-text {
  color: var(--transparent);
  margin-bottom: 0.5vh;
}

.modify-next-set-text {
  color: var(--lightslategray);
}

.red-green-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*! MAIN SPINNER*/

.spinner-wrapper {
  display: flex;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
}

.spinner-logo {
  position: absolute;
  background-image: url(src/buddyLogoFlat.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
  width: 40vh;
  transform: scale(0.8, 0.8);
  z-index: 2;
}

.spinner-circle {
  position: absolute;
  border-radius: 100%;
  background-image: url(src/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
  width: 40vh;
  z-index: 1;
  overflow: hidden;
  animation: rotate 2s cubic-bezier(0.29, 0.6, 0.54, 0.89) infinite
    alternate-reverse;
}

/*! MODAL INFO WINDOW*/

.modal {
  background-color: white;
  color: var(--lightslategray);
  padding: 1.5rem;
  width: 45vw;
  width: fit-content;

  margin: auto;
  overflow: auto;
}

.modal-instructions {
  max-width: 80vw;
}

.modal-instructions h2 {
  margin-bottom: 1rem;
}

.modal::backdrop {
  background: linear-gradient(165deg, #6e7da2, #8badc2, #aedadd);
  opacity: 0.3;
}

.modal-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-content-wrapper span {
  margin-bottom: 1rem;
}

.instruction-content {
  overflow-y: auto;
  max-height: 40vh;
}

.Eq-header {
  margin-top: 5vh;
}

.eq-img {
  max-height: 10vh;
  margin-bottom: 1rem;
}

/*! MODAL TROPHY WINDOW*/

.modal-trophy {
  background-color: var(--lightslategray);
  color: var(--floralwhite);
  padding: 0.5rem 1.5rem;
  max-width: 80vw;
  margin: auto;
  overflow: auto;
}

.modal-trophy::backdrop {
  background: linear-gradient(165deg, #6e7da2, #8badc2, #aedadd);
  opacity: 0.3;
}

.trophy {
  background-image: url(src/trophy.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 10vh;
}

.modal-trophy-finished {
  text-align: center;
  margin-bottom: 0.5rem;
}

.trophy-modal-exercise-item {
  text-align: center;
  margin-bottom: 1rem;
}

.trophy-modal-exercise-parameters {
  text-align: center;
}

/*! MODAL TUTORIAL HOME*/

.modal-home-tutorial {
  width: fit-content;
}

.modal-tutorial-home-parameter {
  margin-bottom: 5vh;
}

.modal-tutorial-home-parameter h3 {
  color: var(--darksalmon);
}

.modal-tutorial-home-parameter h3,
h4 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.modal-tutorial-home-parameter li {
  list-style: disc;
  margin-left: 2.5vw;
}

.btn-close-model-home-tutorial-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*! MODAL EXIT WORKOUT*/

.modal-exit-workout {
  width: fit-content;
}

.exit-workout-content {
  margin: 2rem 0;
}
