/*! GLOBAL */

:root {
  --floralwhite: #fcf8f3;
  --lightblue: #aedadd;
  --darksalmon: #db996c;
  --lightslategray: #6e7da2;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: var(--darksalmon);
  opacity: 0.9;
  background-image: radial-gradient(
    var(--lightslategray) 2px,
    var(--darksalmon) 2px
  );
  background-size: 40px 40px;
}

.global-container {
  background-color: var(--floralwhite);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media all and (min-width: 992px) {
  .global-container {
    width: 80vw;
    height: 90vh;
    margin: 5vh auto;
  }
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*! HELPERS */

.hidden {
  display: none;
}

/*! HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  background-color: var(--lightslategray);
  color: var(--floralwhite);
}

/*! NAVIGATION */

.navigation {
  margin: 0 0 2px 0;
  height: 50px;
  background-color: var(--lightslategray);
  display: flex;
}

.nav-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  height: 100%;
  border-bottom: 2px solid var(--lightslategray);
}

.active path,
.nav-tile:hover path {
  fill: var(--lightblue);
}

ul > .active,
ul > .nav-tile:hover {
  border-bottom: 2px solid var(--lightblue);
}

/*! MAIN */

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*! MAIN HOME*/

.workout-parameters-container {
  display: flex;
  flex-direction: column;
}

.workout-parameters {
  display: flex;
  justify-content: space-evenly;
}

.workout-parameters li {
  margin: 20px;
}
